<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background: #0d8bd9;
        margin-left: -3rem;
    }
    .user{
        margin-top: -30rem;
        margin-left: 19rem;
        /* border: 1px solid wheat; */
    }
</style>
<body>
    <div class="user">
        <%layout("/layouts/boilerplate") %>
    <h6>This has not posted any tweet</h6>
    <a href="http://localhost:8080/bhav12/single_profile">Go Back</a>
    </div>
</body>
</html>